{% extends "base.html.twig" %}

{% block title %}
    Oferta
{% endblock title %}

{% block javascripts %}
<script src="{{asset('js/estilo.js')}}"></script>
<script src="{{asset('js/display.js')}}"></script>
<script src="{{asset('js/validarIsla.js')}}"></script>
<script src="{{asset('js/loading.js')}}"></script>
<script src="{{asset('js/jquery.min.js')}}"></script>
<script src="{{asset('js/jquery.scrolly.min.js')}}"></script>
<script src="{{asset('js/jquery.dropotron.min.js')}}"></script>
<script src="{{asset('js/jquery.scrollex.min.js')}}"></script>
<script src="{{asset('js/browser.min.js')}}"></script>
<script src="{{asset('js/breakpoints.min.js')}}"></script>
<script src="{{asset('js/util.js')}}"></script>
<script src="{{asset('js/main.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


<script type="text/javascript">
    $(document).ready(function(){
        var maxField = 10; //Input fields increment limitation
        var addButton = $('.add_button'); //Add button selector
        var wrapper = $('.field_wrapper'); //Input field wrapper
        var fieldHTML = '<div><input type="text" name="field_name[]" value=""/><a href="javascript:void(0);" class="remove_button" title="Remove field">Borrar</a></div>'; //New input field html 
        var x = 1; //Initial field counter is 1
        $(addButton).click(function(){ //Once add button is clicked
            if(x < maxField){ //Check maximum number of input fields
                x++; //Increment field counter
                $(wrapper).append(fieldHTML); // Add field html
            }
        });
        $(wrapper).on('click', '.remove_button', function(e){ //Once remove button is clicked
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
    </script>
    
{% endblock javascripts %}

{% block body %}
<div class="form">
    <h1 style="font-size: 3em;">Crear oferta</h1>
    {% include "ofertas/_formulario.html.twig" with {'accion': path('ofertas_crear') }%}

    <a  style="width:50%;" class="button primary" style="margin-left:80%; margin-top:40px" href="{{ path('empresas_perfil') }}">Volver al perfil</a>
    </div>
    
{% endblock body %}

