{% extends "base.html.twig" %}

{% block title %}Cambiar contraseña{% endblock %}


{% block body %}
<div class="login">
    <h1 style="font-size: 2em;">Cambiar contraseña</h1>
    <form action='{{ path('usuarios_cambiar_pass') }}' method="post">
        <label for="pass">Nueva contraseña: </label>
        <input type="password" name="pass" id="pass" required></br>
        <input type="hidden" name="token" value="{{token}}">
        <input style="width:60%;" class="button primary" type="submit" value="Cambiar contraseña">
    </form>
{% if error is defined %} 

<p>{{ error }}</p>

{% endif %}
</div>
{% endblock %}