{% extends "base.html.twig" %}

{% block title %}Login Usuarios{% endblock %}


{% block body %}
<div class="login">
    <h1 style="font-size: 2em;">Inicio sesión usuarios</h1>
    <form action='{{ path('usuarios_login') }}' method="post">
        <label for="correo">Correo electrónico: </label>
        <input type="email" name="correo" id="correo" required></br>

        <label for="pass">Contraseña: </label>
        <input type="password" name="pass" id="pass" required></br>

        <input style="width:60%;" class="button primary" type="submit" value="Iniciar Sesion">
    </form>
    
{% if error is defined %} 

<p>{{ error }}</p>

{% endif %}
<a class="contraseña" href="{{path('usuarios_mail_pass')}}">¿Se olvido de su contraseña?</a>
</div>
{% endblock %}