{% extends 'base.html.twig' %}
{% block body %}

<body>

<div class="buscador">
    <form action=" {{ path('ofertas_index') }}">
        <div class="field" id="searchform">
            <label for="busqueda"></label>
            <input type="text" class="busqueda" placeholder="¿Que buscas...?" />
            <button id="search">Buscar</button>
        </div>
    </form>
    <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</div>

    <h2 style="text-align:center">Últimas Ofertas</h2>
    <div class="listaIndex">
        {% for oferta in ofertas %}
        {% if oferta.borrador == false %}
        <div class="elementos">

            <h2>{{ oferta.puesto }}</h2>
            <h4>{{ oferta.tipo }}</h4>




            <a style="margin-right: 3%; width:95%" class="button primary"
                href="{{ path('ofertas_show', {'id': oferta.id}) }}">Mas
                detalles</a><br><br>

        </div><br>
        {% endif %}
        {% endfor %}

    </div>

</body>
{% endblock %}