{% extends "base.html.twig" %}

{% block title %}Restaurar contraseña{% endblock %}


{% block body %}
<div class="login">
    <p>Se ha enviado un correo a su cuenta de email con el enlace para poder cambiar la contraseña</p>
    </form>
</div>
{% endblock %}