{% extends "base.html.twig" %}

{% block title %}Restaurar contraseña{% endblock %}


{% block body %}
<div class="login">
    <h1 style="font-size: 2em;">Restaurar contraseña</h1>
    <form action='{{ path('empresas_mail_pass') }}' method="post">
        <label for="correo">Correo electrónico: </label>
        <input type="email" name="correo" id="correo" required></br>

        <input style="width:60%;" class="button primary" type="submit" value="Cambiar contraseña">
    </form>
{% if error is defined %} 

<p>{{ error }}</p>

{% endif %}
</div>
{% endblock %}